html, body {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web';
}

h2, h1, p {
  padding: 0;
  margin: 0;
}

.card {
  background: grey;
  border-radius: 5px;
  border: 1px solid #2f2f2f;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  z-index: 1;
  padding: 5vw 0;
  width: 90%;
}

.nav > a {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  font-size: 2em;
  margin: 3vh 0;
  color: #2f2f2f;
}

.nav {
  z-index: 2;
  position: fixed;
  display: none;
  bottom: 0;
  width: 80vw;
  height: 100vh;
  background: grey;
}

.signature {
  width: 70vw;
}

.nav-signature {
  height: 20vw;
  color: black;
}

#nav-toggle {
  position: fixed;
  bottom: 2vw;
  right: 2vw;
  z-index: 2;
  font-size: 3em;
  color: white;
}

#landing {
  height: 100vh;
  background: linear-gradient(#2f2f2f 50%, black);
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#landing > .name {
  text-align: center;
  color: white;
  font-weight: 300;
  color: grey;
}

#bio {
  padding: 10vw 0;
  background: linear-gradient(#000 60%, #2f2f2f);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bio > p {
  padding: 2vw 5vw;
  text-align: center;
  font-size: 1.2em;
  line-height: 2em;
  font-weight: 300;
  color: white;
}

#bio > h1 {
  color: white;
  font-weight: 300;
}

.headshot {
  width: 80vw;
}

.title {
  font-size: 2em;
  color: white;
  font-weight: 300;
}

#projects {
  padding-top: 10vh;
  background: #2f2f2f;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#projects > div, #experience > div {
  margin: 5vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-weight: 300;
}

#projects > div > img, #experience > div > img {
  width: 80vw;
}

#projects > div > h1, #experience > div > h1 {
  text-align: center;
}

#projects > div > p, #experience > div > p {
  padding-top: 2vh;
  margin: 0 10vw;
  text-align: center;
}

#projects > div > h2, #experience > div > h2 {
  font-size: 1em;
}

#experience {
  padding-top: 10vh;
  background: #2f2f2f;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#skills {
  background: #2f2f2f;
}
